div#main-content {
    flex-direction: column;
    align-items: center;
}
input#pwd {
    font-size: 1.5em;
}
button {
    margin: 2em;
    padding: 0.5em;
    background-color: var(--quote-bg);
    color: var(--text-dim);
    border-radius: 2em;
    border-color: var(--border);
}
